
body{
    font-family: 'Raleway', sans-serif;
    color: #232323;
}

main{
    padding-left: 35px;
    padding-right: 35px;
}


*{
    font-family: 'Raleway';
    box-sizing: border-box;
  
}

a {
    text-decoration: none;
    color: black;
}

h1{
    line-height: 1em;
}


h2{
     font-size: 20px;
}

h3{
    font-size: 23px;
}

h4{
    font-size: 19px;
    font-weight: 700;
}

h5{
    font-size: 18px;
 
}

p{
    font-size: 18px; 
}

ul, li{
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    margin-bottom: 15px; 
}
header nav .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
header nav .menus {
    height: 100%; 
}
header nav li {
    margin-right: 80px; 
}
.menu1:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC; 
}
.menu2 {
    color: #0065FC;
    font-weight: 700;
}


/ ----- TOUS LES HEBERGEMENTS ------ /

/*------------------------------
------AFFICHAGE LOGEMENTS-------
------------------------------*/


.liste-hebergements{
    display: flex;
    justify-content: space-between;
}



/*-----LOGEMENTS A GAUCHE------*/

#grid6{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 600px;
    padding: 10px 19px;

}

/*-----LISTE DES HOTELS------*/

.hotels{
    
    text-decoration: none;
    margin-bottom: 30px;
    color: black;
    height: 45%;
    width: 30%;
    background-color: white;
    border-radius: 30px;
    border: 8px solid white;

    transition: transform .2s;
    box-shadow: 0px 0px 10px 4px rgba(232, 225, 225, 0.75)
}


.hotels-texte{
    margin: -8px 5px 10px 9px;
    line-height: 3px;
}

/*-----ETOILES------*/

.fa-star{
    color: #0065FC;
}

.gris{
    color:lightgrey;
}

/*-----ENCADREMENT DES IMAGES------*/

.hotels img{
    padding: 0px 0px 0px 0px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: 0 50%;
    width: 100%;
    height: 145px;

}
/*-----AFFICHER PLUS------*/
#more{
    padding: 5px 0px 0px 45px;
    margin: 0px 0px 25px 0px;
    font-weight: 800;
    font-size: 1.2rem;
}
